/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/dist
/storage/*.key
/vendor
/.scribe
!.scribe/endpoints/custom.*.yaml
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vapor/
.env.production
.env.staging
.env.development
.vscode
.rnd
test.http
